.configdetalle{

    color: rgb(49, 8, 104);
    font-weight: bold;

}
.botonhome{
    
    color: rgb(44, 9, 241);
    border-radius: 25px;
    background-color: rgb(175, 235, 11);
}

.detail__imagens{
    border: 3px solid rgb(7, 192, 238);
    border-radius: 180px ;
    box-shadow: 4px 6px 9px rgb(12, 235, 243);
}

.detail__image:hover {
    cursor: zoom-in;
    transform:scale(1.1);transform:scale(1.1);
    transition-duration: .4s;
}
.contenedordetail{
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:solid 1px green;
    box-shadow: 3px 4px 3px 4px;
    
    margin: 2px;
    color:blanchedalmond;
    width: fit-content;
    height: fit-content;
    display: inline;
    justify-content: space-between;
    
}