.configdetalle{

    color: rgb(238, 141, 14);
    font-weight: bold;
}
.botonhome{
    
    color: rgb(44, 9, 241);
    border-radius: 25px;
    background-color: rgb(175, 235, 11);
}

.detail__image{
    border: 5px solid green;
    border-radius: 190px ;
    box-shadow: 4px 6px 9px rgb(247, 244, 244);
}

.detail__image:hover {
    cursor: zoom-in;
    transform:scale(1.1);transform:scale(1.1);
    transition-duration: .4s;
}