.stiloslinks{

display: flex;
justify-content:space-around;
background: green;
border-radius: 50px;
width: 100%;
opacity: 0.8;
margin: auto;
height: 45px;
align-items: center;
}

.stiloslinks span{
 
/* margin: 8px;
padding: 5PX; */
color: rgb(223, 7, 18);


}

.estilosearch{

    /* display: flex;
    justify-content: center; */
    /* background: green; */
    border-radius: 50px;
     /* width: 100%; */
    /* margin: auto; */
    opacity: 0.8;
}

.Boton{

color: rgb(7, 228, 209);
background-color: green;
border-radius: 80px;

}
.estiloinput{

    opacity: 0.6;
    border-radius: 50px;
}
.stiloslinks h4{

    display: flex;
    justify-content: center;

}