.stiloslinks{

display: flex;
justify-content:space-around;
background: rgb(9, 155, 240);
border-radius: 50px;
width: 100%;
opacity: 0.8;
margin: auto;
height: 45px;
align-items: center;
}

.stiloslinks span{
 
/* margin: 8px;
padding: 5PX; */
color: rgb(9, 128, 175);


}

.estilosearch{

    /* display: flex;
    justify-content: center; */
    /* background: green; */
    border-radius: 50px;
     /* width: 100%; */
    /* margin: auto; */
    opacity: 0.8;
}

.Boton{

color: rgb(7, 228, 209);
background-color: rgb(6, 130, 146);
border-radius: 80px;

}
.estiloinput{

    opacity: 0.6;
    border-radius: 50px;
}
.stiloslinks h4{
    color: rgb(3, 126, 64);
background-color: rgb(3, 201, 79);
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

.botonNav{
    color: rgb(1, 31, 31);
    background-color: rgb(7, 180, 59);
    border-radius: 50px;
}