.about{
    height: 91.5vh;
    width: 100%;
    background: url('https://i.pinimg.com/originals/4e/a7/fb/4ea7fb833c63a4ea0b0fb696c5919dd7.png');
    background-repeat: no-repeat;
  background-size: cover;
}