.letras{

    color:blanchedalmond
}

.letras2{

    color:rgb(236, 16, 16);
    background-color: rgb(78, 17, 219)  ;
    max-width: fit-content;
    margin: auto;
    text-shadow: 1px 1px white;

    

}

.letras img{

    border: 5px solid green;
    border-radius: 190px ;
    box-shadow: 2px 2px 3px white;

}

.Boton{

    color:black;
    background-color: white ;
}

.Boton:hover{

    cursor: pointer;
    transform: scale(1.2);
    color: white;
    background-color: black;

}